body {
  padding: 0;
  margin: 0;
  overflow: hidden;
}

img {
    opacity: 1;
    transition: opacity .3s ease-out;
    animation: img ease 1s;
    transform-origin: center;
    &[data-src]{
        opacity: 0;
    }
}

@keyframes img {
    0%{
        transform: scale(0);
    }
    65%{
        transform: scale(1.05);
    }
    100%{
        transform: scale(1);
    }
}

h1{
  color: #fff;
  text-align: center;
  font-size: 74px;
  letter-spacing: 10px;
  font-family: 'Ultra', serif;
  span{
    text-shadow: 2px 2px 2px rgba(14, 103, 194, 0.6),
    4px 4px rgba(14, 103, 194, 0.6);
  }
  @media screen and (max-width: 900px){
      font-size: 50px;
  }
  @media screen and (max-width: 650px){
      font-size: 35px;
  }
}
h3{
    @extend h1;
    font-size: 40px;
}
main {
    position: relative;
    height: 100vh;
    width: 100vw; 
    &::after{
        display: block;
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: 75;
        background: rgba(0, 0, 0, 0.65);
        content: "";
        top: 0;
    }
}

.img-wrap {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    height: 100%;
    width: 100%;
    z-index: 50;
    overflow: hidden;
    img {
        width: 25%;
        height: 100%;
        z-index: 50;
    }
}
.side-cont {
  display: flex;
  flex-flow: column;
  width: 60%;
}

.sideways{
    display: flex;
    height: 50%;
    width: 100%;
    img {
        height: 100%;
        flex-grow: 1;
    }
}


.first-img, .last-img{
  width: 20%;
}

#del-countdown{
    font-family: 'Megrim', cursive;
    position: relative;
    display: flex;
    z-index: 100;
    width: 900px;
    top: 25%;
    margin: auto;
    flex-flow: column;
    max-width: 100%;
    opacity: 0;
    animation: drop .8s ease .4s forwards;
}

#weeks{
    width: 15%;
    background: #33050E;
    border-radius: 15px 15px 0 0;
    margin-bottom: -3px;
    padding: 20px;
    color: #ddd;
    text-align: center;
    font-size: 16px;
    box-sizing: border-box;
    text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.75);
    margin-left: 3.5%;
    @media screen and (max-width: 700px) {
        font-size: 12px;
    }
}

@keyframes drop {
    0%{
        opacity: 0;
        transform: translateY(-100%)
        
    }
    70%{
        transform: translateY(10%)
    }
    100%{
        opacity: 1;
        transform: translateY(0)
    }
}
#clock {
    display: flex;
    flex-flow: row;
    span {
        text-align: center;
        font-size: 84px;
        margin: 0 2.5%;
        color: #ddd;
        padding: 20px;
        width: 20%;
        border-radius: 15px;
        box-sizing: border-box;
        text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.75);
        &:nth-child(1){
            background: #dc143c;
            box-shadow: 6px 5px #33050E;
        }
        &:nth-child(2){
            background: #0E67C2;
            box-shadow: 6px 5px #052342;
        }
        &:nth-child(3){
            background: #ff4500;
            box-shadow: 6px 5px #521600;
        }
        &:nth-child(4){
            background: #2dcb74;
            box-shadow: 6px 5px #0F4527;
        }
        @media screen and (max-width: 900px){
            font-size: 35px;
            padding: 4% 0;
        }
    }
    
}

#units {
  display: flex;
  span {
    width: 25%;
    text-align: center;
    margin-top: 30px;
    color: #ddd;
    text-transform: uppercase;
    font-size: 13px;
    letter-spacing: 2px;
    text-shadow: 2px 1px rgba(10, 10, 10, 0.7);
    }
}

@media screen and (max-width: 1400px){
  .first-img, .last-img{
    display: none;
  }
  .side-cont{
    width: 100%;
  }
}

@media screen and (max-width: 1000px){
  .side-cont img:first-child, .side-cont img:last-child, .side-cont .sideways:nth-child(2) img:nth-child(2){
    display: none;
  }
  .side-cont{
      display: none;
  }
    .img-wrap{
        img{
            width: 100%;
        }
        .first-img{  
            display: block;
        }
    }
 
}

.dance {
    z-index: 200;
    margin: 0 auto;
}
 
@import "fireworks/fireworks";