body {
  padding: 0;
  margin: 0;
  overflow: hidden; }

img {
  opacity: 1;
  transition: opacity .3s ease-out;
  animation: img ease 1s;
  transform-origin: center; }
  img[data-src] {
    opacity: 0; }

@keyframes img {
  0% {
    transform: scale(0); }
  65% {
    transform: scale(1.05); }
  100% {
    transform: scale(1); } }

h1, h3 {
  color: #fff;
  text-align: center;
  font-size: 74px;
  letter-spacing: 10px;
  font-family: 'Ultra', serif; }
  @media screen and (max-width: 900px) {
    h1, h3 {
      font-size: 50px; } }
  @media screen and (max-width: 650px) {
    h1, h3 {
      font-size: 35px; } }

h3 {
  font-size: 60px; }

main {
  position: relative;
  height: 100vh;
  width: 100vw; }
  main::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 75;
    background: rgba(0, 0, 0, 0.65);
    content: "";
    top: 0; }

.img-wrap {
  box-sizing: border-box;
  position: absolute;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  width: 100%;
  z-index: 50;
  overflow: hidden; }
  .img-wrap img {
    width: 25%;
    height: 100%;
    z-index: 50; }

.side-cont {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: column;
  flex-flow: column;
  width: 60%; }

.sideways {
  display: -ms-flexbox;
  display: flex;
  height: 50%;
  width: 100%; }
  .sideways img {
    height: 100%;
    -ms-flex-positive: 1;
    flex-grow: 1; }

.first-img, .last-img {
  width: 20%; }

#del-countdown {
  font-family: 'Megrim', cursive;
  position: relative;
  display: -ms-flexbox;
  display: flex;
  z-index: 100;
  width: 900px;
  top: 25%;
  margin: auto;
  -ms-flex-flow: column;
  flex-flow: column;
  max-width: 100%;
  opacity: 0;
  animation: drop .8s ease .4s forwards; }

@keyframes drop {
  0% {
    opacity: 0;
    transform: translateY(-100%); }
  70% {
    transform: translateY(10%); }
  100% {
    opacity: 1;
    transform: translateY(0); } }

#clock {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: row;
  flex-flow: row; }
  #clock span {
    text-align: center;
    font-size: 84px;
    margin: 0 2.5%;
    color: #fff;
    padding: 20px;
    width: 20%;
    border-radius: 15px;
    box-sizing: border-box; }
    #clock span:nth-child(1) {
      background: #dc143c;
      box-shadow: 7px 5px 1px #33050E; }
    #clock span:nth-child(2) {
      background: #008080;
      box-shadow: 7px 5px 1px #002424; }
    #clock span:nth-child(3) {
      background: #ff4500;
      box-shadow: 7px 5px 1px #521600; }
    #clock span:nth-child(4) {
      background: #2dcb74;
      box-shadow: 7px 5px 1px #0F4527; }
    @media screen and (max-width: 900px) {
      #clock span {
        font-size: 28px; } }

#units {
  display: -ms-flexbox;
  display: flex; }
  #units span {
    width: 25%;
    text-align: center;
    margin-top: 30px;
    color: #ddd;
    text-transform: uppercase;
    font-size: 13px;
    letter-spacing: 2px;
    text-shadow: 1px 1px 1px rgba(10, 10, 10, 0.7); }

@media screen and (max-width: 1400px) {
  .first-img, .last-img {
    display: none; }
  .side-cont {
    width: 100%; } }

@media screen and (max-width: 700px) {
  .side-cont img:first-child, .side-cont img:last-child {
    display: none; } }

.dance {
  z-index: 200;
  margin: 0 auto; }

.pyro > .before, .pyro > .after {
  position: absolute;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  box-shadow: 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff;
  animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards; }

.pyro > .after {
  animation-delay: 1.25s, 1.25s, 1.25s;
  animation-duration: 1.25s, 1.25s, 6.25s; }

@keyframes bang {
  to {
    box-shadow: -194px -396.66667px #00ffe6, -244px -15.66667px #eeff00, -200px -26.66667px red, 212px 20.33333px #00ff0d, -230px -229.66667px #00ff80, 134px -162.66667px #00ff6f, 250px -327.66667px #8000ff, 83px -312.66667px #ff9500, -66px -372.66667px #ff007b, 18px -252.66667px #91ff00, 247px -226.66667px #ff00d0, 4px -262.66667px #ff00a2, -241px -294.66667px #fff700, -24px -51.66667px #9dff00, -56px 69.33333px #33ff00, 203px -112.66667px #4dff00, 171px -253.66667px #bbff00, -12px -255.66667px deepskyblue, 106px -289.66667px #4400ff, -212px -98.66667px #bb00ff, 45px -69.66667px #ff00c4, -123px -94.66667px #ff0022, 3px -408.66667px #0004ff, -199px -382.66667px #c400ff, 15px -42.66667px #ff0400, -87px -110.66667px #ffb300, -87px -220.66667px #ff00b7, -158px -70.66667px #ffd900, -24px 59.33333px #ff0037, 58px -377.66667px #15ff00, -105px -264.66667px #ff009d, 83px -196.66667px #ffc800, 156px -135.66667px #00ddff, 109px -271.66667px #ff0026, -216px -258.66667px #ff7700, 194px -173.66667px #44ff00, 237px -60.66667px #3700ff, -9px -34.66667px #001aff, -47px -338.66667px #ff7b00, 203px 8.33333px #0033ff, -35px -126.66667px #00fbff, -228px -117.66667px #ff9900, -33px -343.66667px #ff0022, 11px -268.66667px #aaff00, 43px -312.66667px #ff6a00, -201px -325.66667px #5500ff, -248px -136.66667px #ff9900, -73px 37.33333px #d900ff, 62px 62.33333px #ff3700, 239px -324.66667px #f7ff00, 237px -143.66667px #00d0ff; } }

@keyframes gravity {
  to {
    transform: translateY(200px);
    -moz-transform: translateY(200px);
    -webkit-transform: translateY(200px);
    -o-transform: translateY(200px);
    -ms-transform: translateY(200px);
    opacity: 0; } }

@keyframes position {
  0%, 19.9% {
    margin-top: 10%;
    margin-left: 40%; }
  20%, 39.9% {
    margin-top: 40%;
    margin-left: 30%; }
  40%, 59.9% {
    margin-top: 20%;
    margin-left: 70%; }
  60%, 79.9% {
    margin-top: 30%;
    margin-left: 20%; }
  80%, 99.9% {
    margin-top: 30%;
    margin-left: 80%; } }
