body {
  padding: 0;
  margin: 0;
  overflow: hidden; }

img {
  opacity: 1;
  transition: opacity .3s ease-out;
  animation: img ease 1s;
  transform-origin: center; }
  img[data-src] {
    opacity: 0; }

@keyframes img {
  0% {
    transform: scale(0); }
  65% {
    transform: scale(1.05); }
  100% {
    transform: scale(1); } }

h1, h3 {
  color: #fff;
  text-align: center;
  font-size: 74px;
  letter-spacing: 10px;
  font-family: 'Ultra', serif; }
  h1 span, h3 span {
    text-shadow: 2px 2px 2px rgba(14, 103, 194, 0.6), 4px 4px rgba(14, 103, 194, 0.6); }
  @media screen and (max-width: 900px) {
    h1, h3 {
      font-size: 50px; } }
  @media screen and (max-width: 650px) {
    h1, h3 {
      font-size: 35px; } }

h3 {
  font-size: 40px; }

main {
  position: relative;
  height: 100vh;
  width: 100vw; }
  main::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 75;
    background: rgba(0, 0, 0, 0.65);
    content: "";
    top: 0; }

.img-wrap {
  box-sizing: border-box;
  position: absolute;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  width: 100%;
  z-index: 50;
  overflow: hidden; }
  .img-wrap img {
    width: 25%;
    height: 100%;
    z-index: 50; }

.side-cont {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: column;
  flex-flow: column;
  width: 60%; }

.sideways {
  display: -ms-flexbox;
  display: flex;
  height: 50%;
  width: 100%; }
  .sideways img {
    height: 100%;
    -ms-flex-positive: 1;
    flex-grow: 1; }

.first-img, .last-img {
  width: 20%; }

#del-countdown {
  font-family: 'Megrim', cursive;
  position: relative;
  display: -ms-flexbox;
  display: flex;
  z-index: 100;
  width: 900px;
  top: 25%;
  margin: auto;
  -ms-flex-flow: column;
  flex-flow: column;
  max-width: 100%;
  opacity: 0;
  animation: drop .8s ease .4s forwards; }

@keyframes drop {
  0% {
    opacity: 0;
    transform: translateY(-100%); }
  70% {
    transform: translateY(10%); }
  100% {
    opacity: 1;
    transform: translateY(0); } }

#clock {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: row;
  flex-flow: row; }
  #clock span {
    text-align: center;
    font-size: 84px;
    margin: 0 2.5%;
    color: #fff;
    padding: 20px;
    width: 20%;
    border-radius: 15px;
    box-sizing: border-box;
    text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.75); }
    #clock span:nth-child(1) {
      background: #dc143c;
      box-shadow: 6px 5px #33050E; }
    #clock span:nth-child(2) {
      background: #0E67C2;
      box-shadow: 6px 5px #052342; }
    #clock span:nth-child(3) {
      background: #ff4500;
      box-shadow: 6px 5px #521600; }
    #clock span:nth-child(4) {
      background: #2dcb74;
      box-shadow: 6px 5px #0F4527; }
    @media screen and (max-width: 900px) {
      #clock span {
        font-size: 28px;
        padding: 4% 0; } }

#units {
  display: -ms-flexbox;
  display: flex; }
  #units span {
    width: 25%;
    text-align: center;
    margin-top: 30px;
    color: #ddd;
    text-transform: uppercase;
    font-size: 13px;
    letter-spacing: 2px;
    text-shadow: 2px 1px rgba(10, 10, 10, 0.7); }

@media screen and (max-width: 1400px) {
  .first-img, .last-img {
    display: none; }
  .side-cont {
    width: 100%; } }

@media screen and (max-width: 1000px) {
  .side-cont img:first-child, .side-cont img:last-child, .side-cont .sideways:nth-child(2) img:nth-child(2) {
    display: none; }
  .side-cont {
    display: none; }
  .img-wrap img {
    width: 100%; }
  .img-wrap .first-img {
    display: block; } }

.dance {
  z-index: 200;
  margin: 0 auto; }

.pyro > .before, .pyro > .after {
  position: absolute;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  box-shadow: 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff;
  animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards; }

.pyro > .after {
  animation-delay: 1.25s, 1.25s, 1.25s;
  animation-duration: 1.25s, 1.25s, 6.25s; }

@keyframes bang {
  to {
    box-shadow: -94px -52.66667px #ffa200, -173px -186.66667px #a2ff00, 92px -283.66667px #ffa200, -203px 31.33333px #ff0091, -187px -359.66667px #fff200, 64px -413.66667px #8000ff, -110px -351.66667px #ff00c8, 98px -170.66667px #ff00f7, -146px -298.66667px #0073ff, -7px -79.66667px #00d5ff, -64px -188.66667px blue, -94px -236.66667px #ff007b, -76px 2.33333px #bbff00, 167px -257.66667px #ff9d00, 192px -335.66667px #00ddff, -59px 67.33333px #00ff55, 228px -30.66667px #bf00ff, -137px -323.66667px #00ffb7, 143px -361.66667px #ff00e1, 104px -16.66667px #ff8800, -131px -357.66667px #00ffb7, 11px -408.66667px #00ff37, -198px -4.66667px #ae00ff, -34px -157.66667px blue, 240px -240.66667px #2200ff, 9px -236.66667px #ae00ff, -22px -327.66667px #ff00f2, 45px -300.66667px #ff4400, 147px -299.66667px #00ccff, -104px -279.66667px #00fbff, -203px -184.66667px #ff00c8, -187px 73.33333px #a200ff, -2px -262.66667px #00ff8c, -159px -217.66667px #ff002b, -30px 13.33333px #bfff00, -194px -55.66667px #ff00e6, 84px -325.66667px #77ff00, 248px -314.66667px #6aff00, 217px -391.66667px #b3ff00, -23px -71.66667px #80ff00, 158px -55.66667px #3700ff, 14px -258.66667px #ffbb00, -60px -21.66667px #ff3300, -62px -273.66667px #7b00ff, 118px -19.66667px #91ff00, 220px -395.66667px #ff8400, -141px -242.66667px #ffb700, -98px -390.66667px #00e6ff, -63px 49.33333px #00ff04, 229px -177.66667px #f700ff, 173px -200.66667px #ff2200; } }

@keyframes gravity {
  to {
    transform: translateY(200px);
    -moz-transform: translateY(200px);
    -webkit-transform: translateY(200px);
    -o-transform: translateY(200px);
    -ms-transform: translateY(200px);
    opacity: 0; } }

@keyframes position {
  0%, 19.9% {
    margin-top: 10%;
    margin-left: 40%; }
  20%, 39.9% {
    margin-top: 40%;
    margin-left: 30%; }
  40%, 59.9% {
    margin-top: 20%;
    margin-left: 70%; }
  60%, 79.9% {
    margin-top: 30%;
    margin-left: 20%; }
  80%, 99.9% {
    margin-top: 30%;
    margin-left: 80%; } }
